{% extends 'base.html' %}
{% block content %}
{% load static %}
  <style>
    #img-bg {
      background-image: url({% static 'img/anton-murygin-jD7WYFNJ-0s-unsplash.jpg' %});
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 400px;
    }
    .input-group {
      justify-content: center;
      display: flex;
      align-items: center;
      height: inherit;
      flex-direction: column;
    }
    .input-group input {
      width: 50vmin !important;
    }
    .input-group h1 {
      color: #fff;
    }
    .row {
      padding: 30px;
    }
  </style>
  <div id="img-bg">
    <div class="input-group">
      <h1>ค้นหาร้านอร่อยในสถาบัน</h1>
      <form class="form-inline" method="GET" action="{% url 'detail' restaurant_id=res.id %}">
        <input class="form-control mr-sm-2" type="search" placeholder="หาร้านอาหาร" value="{{ search }}"/>
        <button class="btn btn-warning my-2 my-sm-0" type="submit">ค้นหา</button>
      </form>
    </div>
  </div>
  <div class="container">
    {% for key, values in restaurant.items %}
      <div class="row">
        <div class="col-md-11">
          <h4>คณะ{{ values.name }}</h4>
        </div>
        <div class="col-md-1">
          <a href='#'>ดูทั้งหมด</a>
        </div>
        {% for res in values.res %}
          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="{{ res.picture.url }}" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">ร้าน{{ res.name }}</h5>
                <p class="card-text">เปิด {{ res.open_time }} - {{ res.close_time }}</p>
                <a href="{% url 'detail' restaurant_id=res.id %}" class="btn btn-primary btn-sm">รายละเอียด</a>
              </div>
            </div>
          </div>
        {% endfor %}
        
      </div>
    {% endfor %}
    
  </div>
{% endblock  %}
