{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container" style="min-height: 100vh; display: flex; justify-content: center; align-items: center; padding: 10vmin 0;">
        <div class="text-center">
            <img src="{% static 'img/shop.png' %}" style="width: 100px" />
            <h2>Please Log in</h2>
            <form class="form-signin" method="POST" action="{% url 'login' %}" style="display: flex; justify-content: center;">
                {% csrf_token %}
                <div style="display: flex; flex-direction: column">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" 
                            name="username" placeholder="Username" value="{{ username }}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" 
                            name="password" placeholder="Password" value="{{ password }}">
                    </div>
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <br/><br/>
        </div>
    </div>
{% endblock %}